@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  background:#0b8062;
  
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-holder {
  width: 100%;
  background: rgb(83, 156, 134);
  margin: 30px auto;
  position: relative;
}


.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span{
  background:#00ABA9;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: rgb(236, 236, 236);
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red{
  border: 2px solid #c73737;
  color: #c73737;
}
.stopwatch .stopwatch-btn-yel{
  border: 2px solid #ff9d00;
  color: #FFC900;
}

.stopwatch .stopwatch-btn-gre{
  border: 2px solid #00ABA9;
  color: #00ABA9;
}
.stopwatch .stopwatch-btn-red:hover {
  background: #c73737;
  border: 2px solid #c73737;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: #ff9d00;
  border: 2px solid #FFC900;
  color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: #00ABA9;
  border: 2px solid #00ABA9;
  color: #fff;
}

h3{
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}
.portfolio_button{
  color: rgb(17, 75, 90);
  text-decoration: none;
  font-family: 'Courgette', cursive;
  margin-left: .5rem;
}
.portfolio_button:hover{
  color:rgb(5, 48, 59);
}
